# NPM
**/node_modules
**/dist
coverage
*~

# Editor
/.idea
/.vscode
*.DS_Store

# Build
*/dist
/playground
/docs

# Stuff
/stuff

# Servant specific
/servant/node_modules
/servant/tests
/servant/.tmpWorkingDir
/servant/*.csv
/servant/evaluation.js
