/* ==== Color Scheme ==== */

body {
    --mainColor: #ffc32d;
    --mainColorHover: #9c6f00;
    --mainColorAlpha: rgba(248, 151, 28, 0.6);
    --mainColorAlpha2: rgba(248, 151, 28, 0.15);
    --textColor: #606060;
    --textColorHover: #303030;
    --subColor: #45bce4;
    --headingColor: #777;
    --subheadingColor: #313b48;
    --backgroundColor: #313b48;
    overflow-x: hidden;
}

@keyframes glowing {
    0% {
      background-color: #45bce4;
      box-shadow: 0 0 5px #45bce4;
    }
    50% {
      background-color: #8ae2ff;
      box-shadow: 0 0 20px #8ae2ff;
    }
    100% {
      background-color: #45bce4;
      box-shadow: 0 0 5px #45bce4;
    }
}

.tab-content .active {
	min-height:270px;
}

.applyChangesClass {
    animation: glowing 1300ms infinite;
}

.applyChangesClass:hover {
    color: var(--subheadingColor) !important;
}

#DataTables_Table_0_wrapper {
	margin-top: -27px;
}
ul {
	list-style-type: none;;
}

pre.prettyprint {
	font-size: 12px !important;
}

.patternLink {
    color: var(--textColor);
}

.help-tooltip {
    position: relative;
    display: inline-block;
}

#fancybox-wrap {
	left: 15% !important;
	width: 70% !important;
	right: 15% !important;
}

#fancybox-content {
	width:100% !important;
}

.help-icon img, .help-image-icon {
   max-width:20px;
}

.help-text {
    visibility: hidden;
    width: 240px;
    font-size:10px;
    background-color: var(--mainColor);
    color: #000;
    text-align: left;
    border-radius: 3px;
    padding: 3px 3px;
    position: absolute;
    z-index: 1;
    margin-left:10px;
}

.help-tooltip:hover .help-text {
  visibility: visible;
}

.patternLink:hover {
    color: var(--textColorHover);
    text-decoration: none;
}

h1, h4, h5, h6 {
    color: var(--headingColor);
}

h2 {
    color: var(--subColor) !important;
    text-align:center;
}

h2::before {
    background: #e1e1e1 none repeat scroll 0 0;
    bottom: -5px;
    content: "";
    height: 1px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
    width: 100px;
}

h2::after {
    content: "";
    left: 50%;
    position: absolute;
    background: var(--mainColor) none repeat scroll 0 0;
    background-color: var(--mainColor);
    bottom: -6px;
    height: 3px;
    margin-left: -15px;
    width: 30px;
}

h3 {
    font-size:22px;
    color: var(--subheadingColor);
    margin-bottom: 30px;
}

.canvas {
    padding-bottom: 5%;
}

.thumbs {
    padding:5px;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
}

.thumbs a {
    font-size:16px !important;
}

.thumbs:hover {
    background-color: #f2f2f2;
    border-radius: 4px;
    padding:5px;
}

.thumbs:hover a {
    text-decoration: none !important;
    color: var(--mainColor);
}

p {
    color: var(--textColor);
}

.nav .nav-item .active {
    color: var(--mainColor);
}

.nav .nav-item .active:hover{
    color: var(--mainColorHover);
}

.nav .nav-item a {
    color: var(--textColor);
    font-size: 16px;
}

.nav .nav-item a:hover {
    color: var(--textColorHover);
}

.btn-main {
    color: white;
    background-color: var(--textColor);
    border-color: var(--textColorHover);
}

.btn-main:not(.active) {
    color: var(--subheadingColor);
    background-color: white;
    border-color: var(--mainColor);
}

.btn-main:hover {
    background-color: white;
    border-color: var(--mainColor);
    color: var(--subColor)
}


.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
}

.custom-file-input:focus ~ .custom-file-label, .form-control:focus {
    border-color: var(--mainColor);
    box-shadow: 0 0 0 .2rem var(--mainColorAlpha);
}

.btn-outline-secondary {
    color: var(--subColor);
    border-color: var(--subColor);
}

/* ==== Header Structure ==== */

#small-logo {
    position: absolute;
    width: 180px;
    margin-left: 30px;
    margin-top: 10px;
}

.banner {
    width:100%;
    transform: translateY(-4%);
}

#nav-links {
    position:absolute;
    top:8px;
    left:50px;
}
.nav-link {
    background:none !important;
}

#mainMenu {
    max-width: 650px;
    margin-left: auto;
    margin-right: 0px;
}

.links {
    position: absolute;
    padding-top: 15px;
    right: 5px;
}

#fancybox-content {
    border-width:0px !important;
    padding:10px !important;
}

#form-lang {
    padding: 0.5rem 1rem;
}

#form-lang select {
    border-radius: 5px;
    border-color: var(--mainColor);
    border-style: solid;
    border-width: thin;
    margin-right: 10px;
    font-size: 14px;
    padding:4px;
    color: var(--textColor);
    background-color: white;
    font-family: Verdana, sans-serif;
}

/* ==== Basic Body Structure ==== */

.head-spacer20 {
    margin-top: 20px;
}

.headline-spacer {
    margin-top: 20px;
    margin-bottom: -100px;
}

.grey-spacer {
    padding-bottom: 20px;
    background-color: #f1f1f1;
}

.spacer10 {
    margin-bottom: 10px;
}

.spacer20 {
    margin-bottom: 20px;
}

.spacer50 {
    margin-bottom: 50px;
}

.spacer100 {
    margin-bottom: 100px;
}

.hide {
    display: none;
}

.main {
    padding-top: 5vh;
    width: 100%;
    margin: auto;
}

.form {
    background-color: #f1f1f1;
    border-radius: 5px;
    margin: 10px;
    min-height: 120px;
}

.form-group {
    margin-bottom: 9px;
    padding-left: 25px;
    padding-right: 15px;
}

.search-button {
    margin-left: 35%;
}

.btn-wrapper {
    width: max-content;
    float: right;
}

.header-padding {
    padding-left: 10px;
}

.userData {
    margin:10px;
}

.label-padding {
    padding-bottom:7px;
    padding-top:7px;
}

.img {
    max-height: 40px;
}

.btn-group-toggle {
    position: absolute;
    padding: 15px;
    right: 130px;
}

.btn-group-toggle .btn-main {
    margin-right: 1rem;
}

.toggleDescription {
    position: relative;
    top: 4px;
}

.inline {
    display: inline-block;
}

#viewer{
    position: relative;
}

.slide-container {
    padding-top: 8px;
    padding-left: 8%;
    width: 100%;
}

.but {
    position: inherit;
    bottom: 0;
    right: 0;
}

pre.prettyprint {
    padding: 0px !important;
    border: none !important;
}

.snippetButton {
    border: none;
    background: none;
    padding:0px;
}

.but1 {
    margin-left: 80%;
}

.but2 {
    margin-left: 1%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: var(--subColor);
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 5px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: dodgerblue;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: dodgerblue;
    cursor: pointer;
}

.slider.slider-horizontal {
    width: 210px;
    height: 14px;
    background-color: var(--mainColor);
}

.slide-container .slider.slider::before {
    display:none;
}

.slider-handle {
    background-image: linear-gradient(to bottom, orange, orange);
}

.slider-handle.round {
    border-radius: 20px;
    height: 20px;
    width: 20px;
    transform: translateY(-3px);
}

.slider-track {
    display: none;
}

#acceleration {
    padding-left: 5%;
}

#acceleration-value {
    padding-left: 1%;
}

#acceleration .slider::before {
    display: none;
}

#gender {
    margin-top: 5px;
}

@media (max-width: 1400px) {
    .banner {
        padding-top:20px !important;
    }
    .nav .nav-item a {
        font-size: 14px !important;
    }
}
@media (max-width: 970px) {
    .banner {
        padding-top:30px !important;
    }
    .scratchBlocksHome {
        display: none;
    }
    #form_lang select {
        font-size:10px;
        padding:2px;
    }
}
@media (max-width: 800px) {
    .banner {
        padding-top:40px !important;
    }
    .nav .nav-item a {
        font-size: 12px !important;
    }
}
@media (max-width: 600px) {
    .banner {
        padding-top:50px !important;
    }
}

/* ==== Footer Structure ==== */

#footer {
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 100%;
    margin: auto;
    background-color: var(--backgroundColor);
}

.footer-container {
    padding-top:30px;
}

.footer-text {
    color:#eee;
}

#logo img {
    max-height:70px;
    margin-top: 20px;
    padding-bottom:20px;
}

/* ===== Socials ===== */

.resp-sharing-button__link,
.resp-sharing-button__icon {
    display: inline-block
}

.resp-sharing-button__link {
    text-decoration: none;
    color: #fff;
    margin: 0.5em
}

.resp-sharing-button {
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: 0.5em 0.75em;
    font-size: 14px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__link:hover {
    color: #fff !important;
}

.resp-sharing-button__icon svg {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    vertical-align: middle;
}

.resp-sharing-button--small svg {
    margin: 0;
    vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
    stroke: #fff;
    fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
    fill: #fff;
    stroke: none
}

.resp-sharing-button--twitter {
    background-color: #55acee
}

.resp-sharing-button--twitter:hover {
    background-color: #2795e9
}

.resp-sharing-button--facebook {
    background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
    background-color: #2d4373
}

.resp-sharing-button--email {
    background-color: #777
}

.resp-sharing-button--email:hover {
    background-color: #5e5e5e
}

.resp-sharing-button--whatsapp {
    background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
    background-color: #1da851
}

.resp-sharing-button--facebook {
    background-color: #3b5998;
    border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
    background-color: #2d4373;
    border-color: #2d4373;
}

.resp-sharing-button--twitter {
    background-color: #55acee;
    border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
    background-color: #2795e9;
    border-color: #2795e9;
}

.resp-sharing-button--email {
    background-color: #777777;
    border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
    background-color: #5e5e5e;
    border-color: #5e5e5e;
}

.resp-sharing-button--whatsapp {
    background-color: #25D366;
    border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
    background-color: #1DA851;
    border-color: #1DA851;
}

/* ===== Components ===== */

#test-editor {
    padding: 15px;
}

#scratch-stage {
    width: 100%;
    border: 1px solid gray;
}

.dataTable {
    border: 1px solid lightgray;
    padding: 15px;
}

.scrollTable {
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
}

input[type="search"] {
    border-radius: 5px;
    border-style: solid;
}

/* Forward clicks to button underneath */
.fa-plus, .fa-minus {
    pointer-events: none;
}

tr td:nth-child(5) {
    text-align: center;
}

/* Tooltip container */
.tooltip-sign {
    position: relative;
    display: inline-block;
}

.fa-spin {
    color: var(--subColor);
    font-size: 18px;
}

/* Tooltip text */
.tooltip-sign .tooltip-sign-text {
    font-size: 14px;
    visibility: hidden;
    width: max-content;
    background-color: var(--subColor);
    opacity: 0.9;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding-left: 5px;
    padding-bottom: 4px;
    padding-top: 2px;
    padding-right: 5px;
    position: absolute;
    z-index: 1;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
}

.tooltip-sign .tooltip-sign-text::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--subColor) transparent transparent transparent;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-sign:hover .tooltip-sign-text {
    visibility: visible;
}

.pass td:nth-child(5) {
    color: green;
    font-size: 27px;
    padding: 0;
}

.skip td:nth-child(5) {
    color: #FFA700;
    font-size: 27px;
    padding: 0;
}

.fail td:nth-child(5) {
    color: red;
    font-size: 27px;
    padding: 0;
}

.error td:nth-child(5) {
    color: #ff0000;
    font-size: 27px;
    padding: 0;
}

.output-content {
    width: 100%;
    min-height: 100px;
    max-height: 500px;
    overflow: auto;

    padding: 5px;
    border: 1px solid lightgray;
}

.CodeMirror {
    width: 100%;
    height: 750px;
    font-size: 14px;
    border: 1px solid lightgray;
}

.custom-file-label {
    overflow: hidden;
}


#tests-header {
    margin-top: 0;
    margin-bottom: -25px;
}


/* ===== DataTables Style ===== */

.sub-header {
    text-align: center;
    color: var(--subheadingColor)
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.table > thead > tr > td {
    vertical-align: middle;
}

.thead-white {
    border-top: none;
    background: white;
    color: var(--subheadingColor);
}

.table {
    border: none;
}
.child-table > tbody > tr {
    border-left: none;
    border-right: none;
}

.child-table > tbody > tr:first-child > td {
    border-top: none;
}

.child-table > tbody > tr:last-child > td {
    border-bottom: none;
}

.child-table > tbody > tr > td {
    border-right: none;
    border-left: none;
    padding-left: 1em;
    padding-right: 1em;
}

/* Inherit row color to all child tables. */
.table table > tbody > tr:nth-of-type(n) {
    background-color: inherit;
}

/* Color rows by .odd/.even instead of :nth-of-type(2n+1). */
.table-striped > tbody > .odd:nth-of-type(n) {
    background: transparent;
}
.table-striped > tbody > .even:nth-of-type(n) {
    background-color: var(--lightSubColor);
}

/* Color child table rows the same color as their leading row. */
.table-striped > tbody > .odd:nth-of-type(n) + tr:not(.odd):not(.even) {
    background: transparent;
}
.table-striped > tbody > .even:nth-of-type(n) + tr:not(.odd):not(.even) {
    background-color: var(--lightSubColor);
}

/* ==== Text Styling ==== */

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {
    display: none;
    opacity: 1 !important;
}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color:#eee !important;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 45px;
    position: absolute;
    bottom: 12px;
    width: 100%;
    text-align: left;
}

.code {
    color: #f2f2f2;
    font-size: 12px;
    padding: 100px 500px;
    position: absolute;
    bottom: 12px;
    width: 100%;
    text-align: left;
}

.activeDot, .dot:hover {
    background-color: #717171 !important;
}

.textInfo {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 45px;
    position: absolute;
    bottom: 64px;
    width: 100%;
    text-align: left;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 45px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

/* ==== Upload buttons ==== */

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    background-color: #f1f1f1;
    padding: 8px 12px;
    height: 50px!important;
    width:calc(100% - 26px);
    white-space: nowrap;
}

.upload-btn-wrapper .btnr {
    border: 1px solid gray;
    color: var(--textColor);
    background-color: white;
    padding: 5px 5px;
    border-radius: 4px;
    font-size: 14px;
    position: absolute;
    width: 150px;
    transform: translate(0, -5px);
}

.upload-btn-wrapper .btnr + span {
    padding: 5px;
    font-weight: normal;
}

.upload-btn-wrapper input[type=file] {
    font-size: 42px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 150px;
    margin-left: 11px;
    height: 35px;
}

.upload-btn-wrapper input[type=file]:hover {
    cursor: pointer;
}

/* ==== Tooltips ==== */

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    margin-left: -3px;
    content: "";
    border-width: 5px 5px 0;
    border-top-color: var(--subColor);
}

.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    border-bottom-color: var(--subColor);
}

.tooltip-inner {
    color: #fff;
    font-family: Verdana, sans-serif;
    background: var(--subColor);
    border: none;
    border-radius: 6px;
    white-space: nowrap;
    max-width: none;
}

.filename-label {
    display: inline-block;
    margin-bottom: 0.5rem;
    max-width: calc(100% - 150px);
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 160px;
}

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    z-index: 9998;
    top: 0;
}

.tabBorder {
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    padding:15px;
}

#scroll-background {
    background: none;
    height: 60px;
    width: 100%;
    margin-bottom: -50px;
    z-index: 9998;
    position: relative;
}

#whiskerTabContent {
    margin-bottom:50px;
}

.scrolled {
    border-bottom-color: var(--mainColor);
    border-bottom-style: solid;
}

#left-btn-group {
    position: absolute;
    left: 40%;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--subColor);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--subColor);
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.toggleWrapper {
    margin: 5px;
}

.tooltip {
    z-index: 9999;
}

.modal-content{
    transform: translate(0, 100px);
}

.model-small-input {
    max-width: 80px;
}

.model-editor {
    border: 1px solid gray;
}

#model-editor-content {
    min-height: 477px;
}

.model-editor-canvas {
    border: 1px solid lightgray;
    height: 425px;
    margin-right: 5px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2px;
}

.model-editor-canvas-wrap {
    height: 425px;
}

.model-editor-canvas canvas {
    background: white;
}

.model-radio {
    margin-top: 6px;
    margin-right: 2px;
}

.tab-model-editor {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

#model-tabs {
    max-height: 100px;
    overflow-y: auto;
    padding-right: 0;
    padding-left: 0;
}

#model-add-tab-container {
    max-width: 200px;
    padding-right: 0;
    padding-left: 0;
}

/* Style the buttons that are used to open the tab content */
.tab-model-editor-button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab-model-editor-button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab-model-editor-button.active {
    background-color: #ccc;
}

#model-editor-add-tab {
    position: absolute;
    right: 0;
}

.model-button {
    background-color: #ccc;
    border: none;
    border-radius: 0.2em;
    outline: none;
    cursor: pointer;
}

.model-small-button {
    float: right;
    padding: 1px;
    height: 30px;
    width: 30px;
}
.popup {
    width: 33.33%;
    padding: 15px;
    left: 0;
    margin-left: 33.333333%;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: white;
    position: absolute;
    top: 25%;
    z-index: 10001;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.50);
    z-index: 10000;
}

.vis-tooltip {
    position: absolute;
    color: #5e5e5e;
}

.center {
    transform: translate(-50%,0);
    position: relative;
    left: 50%;
}

.right {
    margin-left: auto;
    margin-right: 5px;
    position: relative;
}

.check-container {
    border: 2px solid #cccccc;
    border-radius: 0.2em;
    height: 105px;
    overflow: auto;
    padding: 2px;
    margin-right: 5px;
}

.model-check {
    cursor: pointer;
    padding-left: 5px;
    margin-bottom: 2px;
    margin-top: 1px;
    width: 100%;
    padding-right: 0;
}

.model-check:hover {
    background-color: #cccccc;
}

#model-edge-check {
    width: 80%;
}

.model-invalid-input {
    border: 2px solid red;
    border-radius: 0.2em;
}

.model-invalid-input:focus {
    border: 2px solid red;
    border-radius: 0.2em;
    outline: red;
}

.model-check-line {
    margin: 1px;
}

.check-delete {
    border: 2px solid white;
    height: 28px;
    width: 28px;
    margin-right: 5px;
    float: right;
}

.model-add-buttons-div {
    padding-left: 2%;
    padding-right: 2%;
}

#model-layout {
    width: 100%;
}

.model-input {
    width: 75%;
    padding-right: 5px;
}

.model-unit {
    width: 15%;
    padding-right: 5px;
}

.fill-parent {
    width: 100%;
}

#seed {
    max-width: 90px;
    margin-left: 250px;
    margin-right: -50px;
    margin-bottom: 5px;
    text-align: center;
    border-color: var(--mainColor);
    border-style: solid;
    border-radius: 5px;
}

label[for=seed] {
    margin-left: 90px;
}



#green-flag {
    margin-left: 100px;
}

label {
    margin-bottom:0.2rem !important;
}

#main-functionality {
    position: fixed;
    z-index: 1000;
    top: 30%;
    display: grid;
    left: 6vw;
}

#main-functionality .btn-main {
    margin: 10px;
    border-width: medium;
}

@media only screen and (max-width: 1300px) {
    #main-functionality {
        left: 10px;
    }
}

@media only screen and (max-width: 1000px) {
    #main-functionality {
        left: 0;
    }
}
